workspace/MMS/
workspace/obj/
workspace/manifold/
workspace/simplified/
runtime/*.pt
workspace/sample_point
*.pyc
workspace/ref/
workspace/data/
workspace/data.zip
workspace/*.zip
data/all
data/MMS
data/Yalin-20221214T130833Z-001
data/Yalin-20221214T130833Z-001.zip
data/MMS.zip
