src/MMS/
src/obj/
src/manifold/
src/simplified/
runtime/*.pt
src/sample_point
*.pyc
src/ref/
src/data/
src/data.zip
src/*.zip
data/all
data/MMS
data/Yalin-20221214T130833Z-001
data/Yalin-20221214T130833Z-001.zip
data/MMS.zip
runtime/
